## ðŸ’¾ The data

Your client has provided you with almost three years of order information for each of their 77 fulfillment centers:

- "week" - week (1 - 145)
- "center_id" - id of the fulfillment center
- "city_code" - city identifier
- "region_code" - region identifier
- "center_type" - there are three types of centers: A, B, and C
- "op_area" - the size of the area serviced by the fulfillment center
- "meal_id" - each meal has a unique id
- "category" - food category (beverages, pasta, rice, etc.)
- "cuisine" - the type of cuisine for each meal
- "checkout_price" - the price the customer pays (including discounts, promotions, etc.)
- "base_price" - list price for the meal
- "emailer" - 1 if there was an email promotion for the meal, 0 otherwise
- "featured" - 1 if the website featured the meal, 0 otherwise
- "orders" - number of orders for that week for that meal id

In [55]:
import plotly.express as px
import plotly.io as pio

pio.templates.default = 'plotly_dark'

In [149]:
import pandas as pd
deliveries = pd.read_csv('data/meal_deliveries.csv')
deliveries

,id,week,center_id,city_code,region_code,center_type,op_area,meal_id,category,cuisine,checkout_price,base_price,emailer,featured,orders
0,1491015,6,67,638,56,B,7.0,2290,Rice Bowl,Indian,157.14,311.43,0,0,5075
1,1440194,40,92,526,34,C,2.9,2704,Other Snacks,Thai,291.03,291.03,0,0,41
2,1415786,2,81,526,34,A,4.0,1109,Rice Bowl,Indian,258.99,294.94,1,0,379
3,1074662,12,152,576,34,B,4.0,1109,Rice Bowl,Indian,268.69,268.69,0,0,690
4,1198250,116,10,590,56,B,6.3,1207,Beverages,Continental,354.05,493.76,0,0,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228269,1081617,65,34,615,34,B,4.2,2126,Pasta,Italian,551.93,553.93,0,0,27
228270,1344009,19,149,478,77,A,2.4,2139,Beverages,Indian,456.93,454.93,0,0,26
228271,1061895,116,66,648,34,A,4.1,2581,Pizza,Continental,463.69,639.23,1,1,527
228272,1123977,48,73,576,34,A,4.0,1962,Pizza,Continental,641.23,640.23,0,0,176
228273,1109905,71,186,649,34,A,3.4,2290,Rice Bowl,Indian,263.87,262.87,0,0,486

In [150]:
deliveries.duplicated().sum()

0

In [151]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228274 entries, 0 to 228273
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              228274 non-null  int64
 1   week            228274 non-null  int64
 2   center_id       228274 non-null  int64
 3   city_code       228274 non-null  int64
 4   region_code     228274 non-null  int64
 5   center_type     228274 non-null  object
 6   op_area         228274 non-null  float64
 7   meal_id         228274 non-null  int64
 8   category        228274 non-null  object
 9   cuisine         228274 non-null  object
 10  checkout_price  228274 non-null  float64
 11  base_price      228274 non-null  float64
 12  emailer         228274 non-null  int64
 13  featured        228274 non-null  int64
 14  orders          228274 non-null  int64
dtypes: float64(3), int64(9), object(3)
memory usage: 26.1+ MB

In [152]:
category = deliveries.category.nunique()
category

14

In [153]:
cuisine = deliveries.cuisine.nunique()
cuisine

4

In [158]:
regions = deliveries.region_code.unique()
regions

array([56, 34, 71, 85, 77, 23, 93, 35], dtype=int64)

In [159]:
num_region = deliveries.region_code.nunique()
num_region

8

In [155]:
deliveries.city_code.nunique()

51

In [156]:
deliveries.center_id.nunique()

77

In [160]:
cat_count = deliveries.groupby(['region_code', 'category'],group_keys=True)['meal_id'].count()
cat_count = cat_count.sort_values(ascending=False)

for region in regions:
    top3 = cat_count.loc[region][:5]
    # fig = px.bar(x = top3.index, y= top3.values, width=700)
    # fig.show()

In [161]:
# Cities with more than three fulfillment centers
cities_fulfilmt_center  = deliveries.groupby('city_code')['center_id'].nunique() 
cities_fulfilmt_center[cities_fulfilmt_center>3]

city_code
526    8
590    9
Name: center_id, dtype: int64

In [162]:
deliveries['orders'].mean()

262.1679078651095

In [163]:
deliveries.groupby('center_id')['orders'].mean().sort_values()[:10]

center_id
41     120.395269
91     121.168973
149    130.156903
74     132.017339
161    146.520302
186    153.308488
162    153.391624
139    157.783700
77     164.544910
55     165.246809
Name: orders, dtype: float64

In [164]:
# Cities with single centers
city461 = deliveries[deliveries['city_code'] == 461]
city649 = deliveries[deliveries['city_code'] == 649]

# Filter for the two cities with more than three centers
city526 = deliveries[deliveries['city_code'] == 526]
city590 = deliveries[deliveries['city_code'] == 590]

In [165]:
city526.shape, city590.shape, city461.shape, city649.shape

((21686, 15), (27497, 15), (2890, 15), (2804, 15))

In [166]:
city526.groupby('center_id')['orders'].mean()

center_id
29     199.843008
32     209.058824
39     225.401998
81     195.889602
88     183.098971
92     188.085884
146    304.297955
162    153.391624
Name: orders, dtype: float64

In [167]:
city590.groupby('center_id')['orders'].mean()

center_id
10     485.935392
13     607.356519
41     120.395269
43     559.235865
53     179.590840
91     121.168973
124    250.391756
137    442.451818
153    230.284160
Name: orders, dtype: float64

### 3

In [168]:
deliveries.insert(12, 'gain_loss', deliveries['base_price'] - deliveries['checkout_price'])

In [169]:
deliveries.head()

,id,week,center_id,city_code,region_code,center_type,op_area,meal_id,category,cuisine,checkout_price,base_price,gain_loss,emailer,featured,orders
0,1491015,6,67,638,56,B,7.0,2290,Rice Bowl,Indian,157.14,311.43,154.29,0,0,5075
1,1440194,40,92,526,34,C,2.9,2704,Other Snacks,Thai,291.03,291.03,0.00,0,0,41
2,1415786,2,81,526,34,A,4.0,1109,Rice Bowl,Indian,258.99,294.94,35.95,1,0,379
3,1074662,12,152,576,34,B,4.0,1109,Rice Bowl,Indian,268.69,268.69,0.00,0,0,690
4,1198250,116,10,590,56,B,6.3,1207,Beverages,Continental,354.05,493.76,139.71,0,0,135

In [170]:
deliveries['gain_loss'].sample(30)

49533       1.00
123473      1.00
181634     -2.00
116638      2.00
153762      0.00
111240     -1.00
23714       1.00
146083     -2.00
136358     27.13
111683     -2.00
119052      0.00
29398      85.36
35676       0.00
105265      1.00
9374       -1.00
70080      96.00
216194    125.10
27708       0.00
108249      2.00
31405     213.40
59670      -1.00
91454     146.50
47554      -1.00
117367      2.00
170035     -2.00
69453       1.00
211873     32.04
224762      1.00
155260     29.13
119653     -1.00
Name: gain_loss, dtype: float64

In [134]:
deliveries.groupby('emailer')['checkout_price'].mean()

emailer
0    331.535957
1    334.965150
Name: checkout_price, dtype: float64

In [133]:
deliveries.groupby('featured')['checkout_price'].mean()

featured
0    334.799089
1    307.656568
Name: checkout_price, dtype: float64

In [135]:
deliveries.groupby(['cuisine' ,'featured'])['checkout_price'].mean()

cuisine      featured
Continental  0           526.338775
             1           454.641319
Indian       0           345.826764
             1           279.654921
Italian      0           284.824369
             1           287.741843
Thai         0           217.105684
             1           188.982456
Name: checkout_price, dtype: float64

In [136]:
deliveries.groupby(['cuisine' ,'emailer'])['checkout_price'].mean()

cuisine      emailer
Continental  0          527.139763
             1          456.456083
Indian       0          346.162812
             1          248.123665
Italian      0          289.273436
             1          240.284798
Thai         0          214.477296
             1          175.864522
Name: checkout_price, dtype: float64

In [137]:
deliveries.groupby(['center_type' ,'featured'])['checkout_price'].mean()

center_type  featured
A            0           336.149406
             1           305.824217
B            0           340.592779
             1           312.866322
C            0           325.971412
             1           307.954944
Name: checkout_price, dtype: float64

In [138]:
deliveries.groupby(['center_type' ,'emailer'])['checkout_price'].mean()

center_type  emailer
A            0          332.377266
             1          335.054410
B            0          337.945807
             1          332.755110
C            0          323.189273
             1          336.621376
Name: checkout_price, dtype: float64

In [145]:
deliveries.groupby(['category' ,'featured'])['orders'].mean()

category      featured
Beverages     0            272.761622
              1            662.730711
Biryani       0             30.750195
              1             31.781250
Desert        0             61.561169
              1             99.127134
Extras        0            293.132205
              1            364.040323
Fish          0             79.625103
              1            233.797030
Other Snacks  0            135.763545
              1            300.420580
Pasta         0             54.879593
              1             85.356545
Pizza         0            163.089360
              1            428.089343
Rice Bowl     0            512.911656
              1           1724.099806
Salad         0            332.190119
              1           1141.430995
Sandwich      0            407.117315
              1           1465.748958
Seafood       0             71.981024
              1            277.533026
Soup          0             79.211526
              1            149.478992
Starters      0            144.785432
              1            276.705283
Name: orders, dtype: float64

In [140]:
deliveries.groupby(['emailer'])['orders'].mean()

emailer
0    229.418733
1    632.773929
Name: orders, dtype: float64

In [142]:
deliveries.groupby(['featured'])['orders'].mean()

featured
0    220.872674
1    596.405625
Name: orders, dtype: float64

In [141]:
deliveries.groupby(['emailer'])['orders'].sum()

emailer
0    48118285
1    11727832
Name: orders, dtype: int64

In [143]:
deliveries.groupby(['featured'])['orders'].sum()

featured
0    44875143
1    14970974
Name: orders, dtype: int64